.minesweeper{
    padding: 30px 0;
}
.minesweeper__wrap{
    display: flex;
    justify-content: center;
}
.minesweeper__grid{
    display: grid;    
    list-style: none;
    padding: 0;
    margin: 0;
}
.minesweeper__square{    
    border: 3px solid;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: #808080;
    border-right-color: #808080;
    background-color: #c0c0c0;
}
.minesweeper .r{
    display: flex;
}
.minesweeper .c{
    width: 30px;
    height: 30px;
}